*.pyc


password.txt

GoogleDrive/credentials/
GoogleDrive/audios/
GoogleDrive/videos/
GoogleDrive/final/
GoogleDrive/downloaded_folder/

Instagram/highlights
Instagram/metadata
Instagram/credentials.json
Instagram/token.json
Instagram/video_names.txt