GoogleDrive/audios/
GoogleDrive/videos/
GoogleDrive/final/
GoogleDrive/downloaded_files/
GoogleDrive/token.json
GoogleDrive/credentials.json
GoogleDrive/notes.txt
Instagram/password.txt
Instagram/highlights